<h1>Flicks</h1>

<% if !current_user %>
  <ul>
  <li><%= link_to('Login', new_user_session_path) %></li>
  <li><%= link_to('Register', new_user_registration_path) %></li>
  </ul>
<% elsif @flicks.any? %>
  <ul>
    <% @flicks.each do |flick| %>
      <% if flick.user_id == current_user.id %>
        <li><%= link_to flick.caption, user_flick_path(current_user, flick) %></li>
      <% end %>
    <% end %>
    <p><%= link_to "Create new flicks", new_user_flick_path(current_user, @flick) %></p>
  </ul>
<% else %>
  <p>There are no flicks yet.</p>
  <p><%= link_to "Create new flicks", new_user_flick_path(current_user, @flick) %></p>
<% end %>
