<h1><%= @flick.caption %></h1>

<% if @flick.image.attached? %>
  <%= image_tag(@flick.image) %>
  <% end %>

<p><%= link_to "Edit", edit_user_flick_path(@flick) %></p>

<% if current_user.admin == true %>
  <p><%= link_to "Delete", user_flick_path(@flick),
                           :data => {:confirm => "You sure?",
                                     :method => "delete"} %></p>
<% end %>

<p><%= link_to "Return to flicks", user_flicks_path(current_user) %></p>
